---
import { loadSchema } from "../api/queries";
import type { Shows } from "../types/schemas";
import dayjs from "dayjs";

const showsSchema = await loadSchema<Shows>("shows");
const shows: Shows["shows"] = showsSchema.shows?.filter(
  (show) => dayjs(show.date).isAfter(dayjs().subtract(1, "d"))
) ?? [];
---

<section id="shows">
  <div class="shows-container bg-[rgba(0,0,0,.8)] p-8">
    <h2 class="text-2xl w-full text-center m-[0_0_2rem_0]">SHOWS</h2>
    <div class="image">
      <img src="/assets/images/crowd.jpg" alt="Show" class="w-full aspect-[3] object-cover">
    </div>
    <div class="shows">
      {shows.map((show) => (
        <div class="show">
          <div class="date text-xl">
            {dayjs(show.date).format("ddd, MMM DD YYYY")}
            {show.endDate && (
              <span> - {dayjs(show.endDate).format("ddd, MMM DD YYYY")}</span>
            )}
          </div>
          <div class="info">
            {show.name}
            {show.subName && (
              <span>
                <br>
                {show.subName}
              </span>
            )}
          </div>
          <div class="location text-xl">
            {show.location} {show.city}, {show.country}
          </div>
          <div class="mt-4 flex justify-center">
            <a
              href={show.ticketLink}
              class="btn max-w-max px-16 py-4">Tickets</a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
    h2 {
        font-family: var(--theme-font);
    }

    .shows-container .image img {
        width: 100%;
        aspect-ratio: 3;
        object-fit: cover;
    }

    .shows-container .shows {
        display: grid;
        margin-top: 16px;
    }

    .shows-container .shows .show {
        display: grid;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        padding: 32px 16px;
        font-family: var(--theme-font);
        border-top: 1px solid var(--theme-main-color);
        text-align: center;
    }

    .shows-container .shows .show:last-child {
        border-bottom: 1px solid var(--theme-main-color);
    }

    .shows-container .shows .show .date {
        text-transform: uppercase;
    }

    .shows-container .shows .show .info {
        color: var(--theme-secondary-color);
    }

    .shows-container .shows .show .links {
        margin-top: 1rem;
    }

    .btn {
        display: grid;
        outline: 0;
        cursor: pointer;
        background-color: transparent;
        padding: .5rem 2rem;
        font-size: 1rem;
        color: var(--theme-main-color);
        border: 1px solid var(--theme-main-color);
        transition: transform .25s;
    }

    .btn:hover,
    .btn:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em transparent;
        border: 1px solid var(--theme-secondary-color);
        color: var(--theme-secondary-color);
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--theme-secondary-color);
        }
    }
</style>
